---
import githubLogo from '../assets/github.png';
import mailLogo from '../assets/mail.png';
---

<div id="container">
	<main>
		<section id="hero">
			<h1>
				Good Morning and Welcome
			</h1>
			<p>
				You are looking at the website of Talha Qamar. 
				Currently doing my Bachelor's in Electrical Engineering from GIKI.
				I also program in my free-time. Ask me about crows.
			</p>
			<div id="socials">
				<a href="https://github.com/1024moons"><img src={githubLogo.src} alt="github"></img></a>
				<a href="mailto:qamartalha@proton.me"><img src={mailLogo.src} alt="mail"></img></a>
			</div>
		</section>
	</main>
</div>

<style>
	#hero {
		width:60%;
		margin-left: auto;
	}

	#socials img {
		width: 40px;
	}
</style>
