---
import githubLogo from '../assets/github.png';
import mailLogo from '../assets/mail.png';
---

<div id="container">
	<div id="background">
		<div id="sun"></div>
		<div class="orbit"></div>
	</div>
	<main>
		<section id="hero">
			<h1>
				Good Morning and Welcome
			</h1>
			<p>
				You are looking at the website of Talha Qamar. 
				Currently doing my Bachelor's in Electrical Engineering from GIKI.
				I also program in my free-time. Ask me about crows.
			</p>
			<div id="socials">
				<a href="https://github.com/1024moons"><img src={githubLogo.src} alt="github"></img></a>
				<a href="mailto:qamartalha@proton.me"><img src={mailLogo.src} alt="mail"></img></a>
			</div>
		</section>
	</main>
</div>

<style>
	#container {
		display: flex;
		flex-direction: row;
		justify-content:space-between;
	}
	#hero {
		width:60%;
		max-width: 900px;
		margin-left: auto;
	}

	#socials img {
		width: 40px;
	}
	#background {
		overflow:hidden;
	}
	#sun {
		width: 100px;
		height: 100px;
		position: absolute;
		bottom: 0px;
		left: 0px;
		border-radius: 50%;
		border: solid 10px;
	}
	.orbit {
		width: 250px;
		height: 250px;
		position: absolute;
		bottom: -125px;
		left: 0px;
		border-radius: 50%;
		border: dotted 2px;
	}

	.mercury {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		border: solid 5px;
		position:absolute;
		left:118px;
		bottom:-10px
	}
</style>
